 .details-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    background:white;
    width: 75%;
    /* height: 100vh; */
    color:black

    
  }
  .details{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

.details-item {
    margin: 1rem 0;
    width: 100%;
    background-color: black;

  }
  
  .details-item__content {
    padding: 0;
    background-color: black;
   
    
    
  }
  
  .details-item__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    
  }
  
   .details-item__image {
    width: 100%;
    /* height: 100%; */
    /* margin-right: 1.5rem; */
    
  } 
  
   .details-item__image img {
    width: 70%;
    height: 100%;
    object-fit: cover;
  } 
  
  .details-item__info h2,
  .details-item__info h3,
  .details-item__info p {
    margin: 0 0 0.5rem 0;
    color: white;
    padding:30px 30px;
  }
  
  .details-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .details-item__modal-content {
    padding: 0;
  }
  
  .event-item__modal-actions {
    text-align: right;
  }
  
  .details-item__actions button,
  .details-item__actions a {
    margin: 0.5rem;
  }
  
  .map-container {
    height: 15rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .details-item__image {
      display: flex;
    justify-content: center;
      margin: 2rem;
      background-color: black;
    } 
  } 

 